@page "/Estudiantes"
@using p21_universidadv1.Modelo;
@using p21_universidadv1.Servicio;
@inject ServicioEstudiantes serv

<h3>Informacion de Estudiantes</h3>

<NavLink class="nav-link" href="AgregarEstudiantes">
    <span class="oi oi-plus">Agregar Nuevo</span>
</NavLink>

@if(obj is null) {
    <p>Cargando ...</p>
} else {
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Apeido Paterno</th>
            <th>Apeido Materno</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Fecha Ingreso</th>
            <th>Inscripcones</th>
        </thead>
    
    <tbody>
        @foreach (var i in obj)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Apaterno</td>
                <td>@i.Amaterno</td>
                <td>@i.Nombre</td>
                <td>@i.Email</td>
                <td>@i.FechadeIngreso.ToString("yyy-MMM-dd")</td>
                @if(i.Inscripciones.Count==0) {
                    <td>-sin inscripciones-</td> 
                } else {
                    <td>
                        @foreach(var e in i.Inscripciones) {
                            @e.Curso.CursoId @:- @e.Curso.Titulo <br />
                        }
                    </td>
                }
                <td>
                    <a class="nav-link" href="EditarEstudiantes/@i.Id">
                        <span class="oi oi-pencil">Editar</span>
                    </a>
                     <a class="nav-link" href="EliminarEstudiantes/@i.Id">
                        <span class="oi oi-pencil">Eliminar</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
    </table>
}

@code {
    List<Estudiante> obj;
 
    protected override void OnInitialized() {
        obj = serv.ObtenerTodo();

    }
}